#instantclick-bar {
    background: #FF8700
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    color: #cbb283;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #786344;
    text-decoration: underline;
}

.pageid {
    margin-bottom: -26px
}

code {
    color: #f4cf5c;
    background-color: rgba(0, 0, 0, 0.655);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 3px;
    margin-right: 3px;
}

pre>code {
    color: #FFF;
    background-color: unset;
    border-radius: unset;
    border: 0px;
}

.post-a {
    color: #FFF;
    text-decoration: none ! important;
}

.post-a:hover {
    color: #cbb283;
}

.post-box {
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border-left: 0px solid rgba(66, 66, 66, 0);
    transition-duration: 0.3s;
}

.post-box:hover {
    transition-duration: 0.3s;
    border-left: 5px solid #a78b56;
}

.thread h2 {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 10px;
}

.editor-preview pre,
.editor-preview-side pre {
    padding: 0.5em;
}

.hljs {
    background: unset ! important;
    padding: 0px;
}

.CodeMirror {
    height: calc(100% - 320px);
    min-height: 360px;
}

.msgid {
    font-family: Consolas;
}

.tooltip {
    word-break: break-all;
}

h2 a {
    font-weight: 400;
}

body {
    background: url(https://i.zerodream.net/77d1991ce08adcd4fc2c7a2bb0dac198.jpg);
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' ! important;
    font-weight: 400;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: #FFF;
    text-shadow: 0px 0px 8px #000;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(https://github.cdn.wemc.top/img/dynamic-wemc-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h2 a:hover {
    text-decoration: none;
    width: 100%;
}

.thread img {
    vertical-align: text-bottom ! important;
    max-width: 100% ! important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.thread table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 8px;
}

.thread table tr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.thread table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.4);
}

.thread table th,
.thread table td {
    padding: 10px 12px 0px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.thread table th {
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.thread pre {
    margin-bottom: 16px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.7);
}

pre {
    border: none ! important;
}

blockquote {
    font-size: 15px ! important;
    border-color: #a78b56;
}

.comments-body .comment-input {
    background: none;
    border-color: rgba(255, 255, 255, 0.3) ! important;
    color: #FFF ! important;
}

.comments-body .comment-input:focus {
    border-color: #d0a85c ! important;
    outline: 0 ! important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #d0a85c ! important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #d0a85c ! important;
}

.btn-golden,
#submitdata {
    color: #fff;
    background-color: #d0a85c;
    border-color: #d0a24b;
}

.btn-golden:hover,
#submitdata:hover {
    background: #b78c3a;
    border-color: #c39641;
}

@media screen and(max-width:768px) {
    .copyright {
        text-align: center;
    }
}