.pageid {
    margin-bottom: -26px
}

code {
    color: #484848;
    background-color: #f5f5f5;
    border-radius: 0px;
    border: 1px solid #dadada;
}

pre>code {
    color: unset;
    background-color: unset;
    border-radius: unset;
    border: 0px;
}

.post-a {
    color: #FFF;
    text-decoration: none ! important;
}

.post-box {
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border-left: 0px solid rgba(66, 66, 66, 0);
    transition-duration: 0.3s;
}

.post-box:hover {
    transition-duration: 0.3s;
    border-left: 5px solid rgba(66, 66, 66, 0.15);
}

.thread h2 {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 10px;
}

.editor-preview pre,
.editor-preview-side pre {
    padding: 0.5em;
}

.hljs {
    background: unset ! important;
    padding: 0px;
}

.CodeMirror {
    height: calc(100% - 320px);
    min-height: 360px;
}

.msgid {
    font-family: Consolas;
}

.tooltip {
    word-break: break-all;
}

h2 a {
    font-weight: 400;
}

body {
    background: url(https://github.cdn.wemc.top/img/dynamic-wemc-bg.jpg);
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' ! important;
    font-weight: 400;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    text-shadow: 0px 0px 8px #000;
}

h2 a {
    color: #000;
}

h2 a:hover {
    color: #000;
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.thread img {
    vertical-align: text-bottom ! important;
    max-width: 100% ! important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.thread table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 8px;
}

.thread table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.thread table tr:nth-child(2n) {
    background-color: #f7f7f7;
}

.thread table th,
.thread table td {
    padding: 10px 12px 0px 12px;
    border: 1px solid #dfe2e5;
    font-size: 14px;
}

.thread table th {
    padding-bottom: 10px;
    background: #f7f7f7;
}

.thread pre {
    margin-bottom: 16px;
}

pre {
    border: none ! important;
}

blockquote {
    font-size: 15px ! important;
}

a {
    color: #cbb283;
    text-decoration: none;
}

@media screen and(max-width:768px) {
    .copyright {
        text-align: center;
    }
}